/****************/
/*     MAIN     */
/****************/
body {
  margin: 0;
  padding: 0;
  /*TODO: media queries pour 1280px, 1024px et mobile*/
  font-family: sans-serif;
}

/****************/
/*    SLIDER    */
/****************/

/* this component is not easily configurable... we need to tweak and hack it... */
.slick-track {
  height: 100%;
}
.slick-slider {
  width: 100%;
  margin: auto;
  padding: 0px;
  position: relative;
}

@media (max-width: 1439px) {
  .slick-slider {
    width: 100%;
  }
}

.slick-prev {
  left: 30px;
  z-index: 1000;
}
.slick-next {
  right: 30px;
  z-index: 1000;
}
.slick-prev::before {
  content: url(/assets/left.svg) !important;
  color: #000;
}
.slick-next::before {
  content: url(/assets/right.svg) !important;
  color: #000;
}

/***************/
/* Custom Fonts*/
/***************/

@font-face {
  font-family: "Kano";
  src: url(../public/assets/Kano_Regular/Kano.otf);
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../public/assets/Helvetica_Neue/HelveticaNeue.ttf);
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  src: url(../public/assets/Helvetica_Neue/HelveticaNeue-Light.ttf);
}
